/* Global settings */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(145deg, #a1c4fd, #c2e9fb);
    height: 100%;
    overflow-x: hidden;
}

/* Styling for the container */
.container {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 40px;
    width: 80%;
    max-width: 500px;
    margin: 5% auto;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"], 
input[type="email"], 
select, textarea, 
.btn {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.btn {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 20px;
    }
}


::-webkit-scrollbar {
    width: 0;
}